<h2> Template: <small></small> </h2>
<hr>

<form (ngSubmit)="guardar()" #miFormulario="ngForm" autocomplete="off">

  <div class="mb-3 row">

    <label class="col-sm-3 col-form-label">Nombre</label>

    <div class="col-sm-9">

      <input class="form-control"
      type="text"
      placeholder="Nombre de la persona"
      name="nombre"
      required
      [ngModel]="persona.nombre"
      >

    </div>

    <span class="form-text text-danger" *ngIf="nombreValido()">
      * Debe de ser 3 letras
    </span>

  </div>

  <!-- Agregar Favorito -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">

      <div class="input-group">

        <input  class="form-control" 
                type="text" 
                placeholder="Agregar Favorito"

                [(ngModel)]="nuevoJuego"
                (keyup.enter)="agregarJuego()"
                name="nuevoJuego"
                required
                >

        <button class="btn btn-outline-primary" 
                type="button"
                (click)="agregarJuego()" >
          Agregar
        </button>

      </div>
    </div>
    <span class="form-text text-danger" *ngIf="nombreValido()">
      * Debe de ser 3 letras
    </span>
  </div>

<!-- Lista de juegos favoritos -->
  <div class="mb-3 row">

    <label class="col-sm-3 col-form-label">Favoritos</label>

    <div class="col-sm-9">

        <div class="input-group mb-1" *ngFor="let juego of persona.favoritos; let i = index">

        <!-- Recorremos el arreglo de favoritos con ngFor, agregamos al NgModel y creamos un Name
        Unico con name=favorito_{{ i (index) }} :: Tambien podemos manejarlo desde angular con [name]=" 'string'+ {{ i }} " -->
        <input 
                [(ngModel)]="juego.nombre"
                name="favorito_{{ i }}"
                class="form-control"
                required
                >
        <!-- Para asociar los valors en 'tiempo real', ponermos el ngModel en caja de bananas [(ngModel)] -->
        <!-- Creamos boton para eliminar objeto -->
        <button class="btn btn-outline-danger" 
                type="button"
                (click)="eliminar(i)"
                >
          Eliminar
        </button>
      </div>
      
    </div>

    <!--  -->

  </div>

  <div class="row">
    <div class="col-sm-9">

      <button class="
      btn
      btn-primary
      float-end"
      [disabled]="miFormulario.invalid"
      >
        Guardar
      </button>

    </div>
  </div>

</form>


<span>Persona</span>

<pre> {{persona | json}}</pre>
